<a href="https://colab.research.google.com/github/deepavarshini09/SoftNexisTechnology_Tasks/blob/main/task1_snt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Beginner-Friendly Datasets (3)

## 1. Customers Dataset
○ Description: Simulated e-commerce customer records with duplicates, missing IDs, inconsistent formatting (names, dates, regions), and invalid entries.

○ Size: 100–2M records.

In [ ]:
# uploaded the required dataset through file section (temporary)

In [1]:
#import necessary libraries
import pandas as pd

(1) DATA INGESTION:

In [2]:
# Load data
df = pd.read_csv("customers-100.csv")

In [3]:
# Basic Details Check
print("Shape:", df.shape)
print("\nBasic Info:")
print(df.info())
print("\nMissing values per column:\n", df.isna().sum())

Shape: (100, 12)

Basic Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              100 non-null    int64
 1   Customer Id        100 non-null    object
 2   First Name         100 non-null    object
 3   Last Name          100 non-null    object
 4   Company            100 non-null    object
 5   City               100 non-null    object
 6   Country            100 non-null    object
 7   Phone 1            100 non-null    object
 8   Phone 2            100 non-null    object
 9   Email              100 non-null    object
 10  Subscription Date  100 non-null    object
 11  Website            100 non-null    object
dtypes: int64(1), object(11)
memory usage: 9.5+ KB
None

Missing values per column:
 Index                0
Customer Id          0
First Name           0
Last Name            0
Company              0
City                 0
Country              0
Phone 1              0
Phone 2              0
Email                0
Subscription Date    0
Website              0
dtype: int64

(2) DE-DUPLICATION

In [4]:
# Check for exact duplicate rows
duplicate_count = df.duplicated().sum()
print("Number of duplicate rows:", duplicate_count)

Number of duplicate rows: 0

In [5]:
# No duplicates exists, yet implementing the drop duplicates, which won't have any effects
# Drop duplicates only if they exist
if duplicate_count > 0:
    df = df.drop_duplicates()
    print("Duplicates removed. New shape:", df.shape)
else:
    print("No duplicates found. Proceeding without changes.")

No duplicates found. Proceeding without changes.

(3) COLUMN MANAGEMENT

In [6]:
# Drop irrelevant columns
columns_to_drop = ['Index', 'Phone 2', 'Website']
df = df.drop(columns=columns_to_drop, errors='ignore')

In [8]:
for col in df.columns:
    print(col)

Customer Id
First Name
Last Name
Company
City
Country
Phone 1
Email
Subscription Date

In [9]:
# Rename columns for clarity and code compatibility
df = df.rename(columns={
    'Customer Id': 'customer_id',
    'First Name': 'first_name',
    'Last Name': 'last_name',
    'Company': 'company',
    'City': 'city',
    'Country': 'country',
    'Phone 1': 'phone',
    'Email': 'email',
    'Subscription Date': 'subscription_date'
})

In [11]:
# Show updated columns
print("Columns after management:")
for col in df.columns:
    print(col)

Columns after management:
customer_id
first_name
last_name
company
city
country
phone
email
subscription_date

(4) MISSING VALUE HANDLING

In [13]:
# Final check to confirm no missing values introduced
missing_summary = df.isna().sum()
print("Missing values check after column management):\n", missing_summary)

Missing values check after column management):
 customer_id          0
first_name           0
last_name            0
company              0
city                 0
country              0
phone                0
email                0
subscription_date    0
dtype: int64

In [14]:
# No action required since all values are present
if missing_summary.sum() == 0:
    print("No missing values. Skipping deletion/imputation steps.")
else:
    print("Unexpected missing values found — consider imputation.")

No missing values. Skipping deletion/imputation steps.

(5) DATA TYPE CORRECTION

In [16]:
# Convert 'subscription_date' to datetime
df['subscription_date'] = pd.to_datetime(df['subscription_date'], errors='coerce')

# Verify the change
print("Data type of 'subscription_date' after conversion:", df['subscription_date'].dtype)

Data type of 'subscription_date' after conversion: datetime64[ns]

(6) FORMAT STANDARDIZATION

In [17]:
# Identify object (string) columns to normalize
string_cols = df.select_dtypes(include='object').columns

# Apply lowercase and strip whitespace
for col in string_cols:
    df[col] = df[col].str.lower().str.strip()

In [18]:
# Review cleaned values for key categorical columns
for col in ['country', 'city']:
    if col in df.columns:
        print(f"Unique values in '{col}' after standardization:")
        print(df[col].unique())

Unique values in 'country' after standardization:
['chile' 'djibouti' 'antigua and barbuda' 'dominican republic'
 'slovakia (slovak republic)' 'bosnia and herzegovina' 'pitcairn islands'
 'bulgaria' 'cyprus' 'timor-leste' 'guernsey' 'vietnam' 'togo' 'sri lanka'
 'singapore' 'oman' 'western sahara' 'mozambique'
 'south georgia and the south sandwich islands' 'french polynesia' 'malta'
 'netherlands' 'paraguay' "lao people's democratic republic" 'albania'
 'panama' 'belarus' 'switzerland' 'saint vincent and the grenadines'
 'tanzania' 'zimbabwe' 'denmark' 'liechtenstein'
 'united states of america' 'bahamas' 'belize' 'uruguay' 'solomon islands'
 'montenegro' 'poland' 'burkina faso' 'bolivia' 'monaco' 'palau'
 'uzbekistan' 'ghana' 'united arab emirates' 'canada' 'algeria'
 'swaziland' 'madagascar' 'ecuador' 'palestinian territory'
 'saint barthelemy' 'sao tome and principe' 'portugal' 'ethiopia'
 'liberia' 'lithuania' 'new caledonia' 'kiribati'
 'french southern territories' 'iran' 'morocco' 'russian federation'
 'united states virgin islands' 'kyrgyz republic' 'myanmar' 'dominica'
 'iceland' 'micronesia' 'isle of man' 'fiji' 'new zealand' 'maldives'
 'benin' 'yemen' 'namibia' 'bhutan' 'hungary' 'anguilla' 'mali' 'guyana'
 'aruba' 'honduras']
Unique values in 'city' after standardization:
['east leonard' 'east jimmychester' 'isabelborough' 'bensonview'
 'west priscilla' 'chavezborough' 'lake ana' 'kimport' 'robersonstad'
 'elaineberg' 'shannonville' 'east andrea' 'south joannamouth' 'jodyberg'
 'burchbury' 'desireeshire' 'west adriennestad' 'lake leslie' 'harmonview'
 'jamesshire' 'east carly' 'south alvin' 'brittanyview' 'veronicamouth'
 'bryanville' 'kaitlyntown' 'michealshire' 'south marissatown'
 'acevedoville' 'north harold' 'west samuel' 'cunninghamborough'
 'port annatown' 'new kaitlyn' 'west marthaburgh' 'east teresa'
 'south hunter' 'south walter' 'poolefurt' 'west john' 'west darius'
 'north jimstad' 'east rebekahborough' 'north drew' 'lake lindaburgh'
 'gwendolynview' 'zimmermanland' 'north kerriton' 'north eileenville'
 'port sergiofort' 'new alberttown' 'south jasmine' 'cowanfort'
 'new deborah' 'wallstown' 'lake ellenchester' 'lake whitney'
 'east jaredbury' 'selenabury' 'huangfort' 'east pennyshire'
 'port jasminborough' 'west kristine' 'south julia' 'helenborough'
 'lake nancy' 'georgeport' 'south sophiaberg' 'hartbury' 'erikaville'
 'nicolasfort' 'new jasmineshire' 'east summerstad' 'skinnerport'
 'raystad' 'colinhaven' 'west reginald' 'lake sherryborough'
 'port katherineville' 'thomasland' 'coreybury' 'lake janiceton'
 'east clinton' 'south joshuashire' 'new glenda' 'north jillianview'
 'lyonsberg' 'east cristinabury' 'thomasfurt' 'north joeburgh'
 'cassidychester' 'south dannymouth' 'south lonnie' 'frankchester'
 'daisyborough' 'east richard' 'new bradview' 'ortegaland'
 'lake elijahview' 'judymouth']

SAVING THE CLEANED DATASET

In [19]:
df.to_csv("cleaned_customers.csv", index=False)
print("Cleaned dataset saved as 'cleaned_customers.csv'")

Cleaned dataset saved as 'cleaned_customers.csv'

## 2. People Dataset
○ Description: Demographic data with mixed date formats, inconsistent job
titles, missing values, and malformed phone numbers.

○ Size: 100–2M records.

In [20]:
# uploaded the required dataset through file section (temporary)

In [21]:
#import necessary libraries
import pandas as pd

(1) DATA INGESTION

In [22]:
# Load data
df = pd.read_csv("people-100.csv")

In [23]:
# Basic Details Check
print("Shape:", df.shape)
print("\nBasic Info:")
print(df.info())
print("\nMissing values per column:\n", df.isna().sum())

Shape: (100, 9)

Basic Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          100 non-null    int64
 1   User Id        100 non-null    object
 2   First Name     100 non-null    object
 3   Last Name      100 non-null    object
 4   Sex            100 non-null    object
 5   Email          100 non-null    object
 6   Phone          100 non-null    object
 7   Date of birth  100 non-null    object
 8   Job Title      100 non-null    object
dtypes: int64(1), object(8)
memory usage: 7.2+ KB
None

Missing values per column:
 Index            0
User Id          0
First Name       0
Last Name        0
Sex              0
Email            0
Phone            0
Date of birth    0
Job Title        0
dtype: int64

(2) DEDUPLICATION

In [24]:
duplicate_count = df.duplicated().sum()
print("Number of duplicate rows:", duplicate_count)

if duplicate_count > 0:
    df = df.drop_duplicates()
    print("Duplicates removed. New shape:", df.shape)
else:
    print("No duplicates found. Proceeding without changes.")

Number of duplicate rows: 0
No duplicates found. Proceeding without changes.

(3) COLUMN MANAGEMENT

In [27]:
# Drop irrelevant columns
df = df.drop(columns=['Index'], errors='ignore')

In [28]:
# Renaming for clarity
df = df.rename(columns={
    'User Id': 'user_id',
    'First Name': 'first_name',
    'Last Name': 'last_name',
    'Sex': 'sex',
    'Email': 'email',
    'Phone': 'phone',
    'Date of birth': 'dob',
    'Job Title': 'job_title'
})

In [30]:
# Show updated column names
print("Columns after renaming:")
for col in df.columns:
    print(col)

Columns after renaming:
user_id
first_name
last_name
sex
email
phone
dob
job_title

(4) MISSING VALUE HANDLING

In [31]:
# Check for any missing values
missing_summary = df.isna().sum()
print("Missing values per column:\n", missing_summary)

if missing_summary.sum() == 0:
    print("No missing values. Skipping imputation/deletion.")
else:
    print("Missing values detected — handle as needed.")

Missing values per column:
 user_id       0
first_name    0
last_name     0
sex           0
email         0
phone         0
dob           0
job_title     0
dtype: int64
No missing values. Skipping imputation/deletion.

(5) DATA TYPE CORRECTION

In [32]:
# Convert 'dob' to datetime
df['dob'] = pd.to_datetime(df['dob'], errors='coerce')
print("Data type of 'dob':", df['dob'].dtype)

# Check for invalid conversions
print("Invalid date values after conversion:", df['dob'].isna().sum())

Data type of 'dob': datetime64[ns]
Invalid date values after conversion: 0

(6) FORMAT STANDARDIZATION

In [33]:
# Identify string columns
string_cols = df.select_dtypes(include='object').columns

In [34]:
# Normalize: lowercase and strip
for col in string_cols:
    df[col] = df[col].str.lower().str.strip()

In [35]:
# Check for inconsistent categories
for col in ['sex', 'job_title']:
    if col in df.columns:
        print(f"Unique values in '{col}':")
        print(df[col].unique())

Unique values in 'sex':
['male' 'female']
Unique values in 'job_title':
['games developer' 'phytotherapist' 'homeopath' 'market researcher'
 'veterinary surgeon' 'waste management officer' 'intelligence analyst'
 'hydrogeologist' 'lawyer' 'engineer, site'
 'advertising account executive' 'warden/ranger'
 'scientist, clinical (histocompatibility and immunogenetics)'
 'social worker' 'agricultural consultant'
 'sport and exercise psychologist' 'secretary/administrator'
 'audiological scientist' 'teacher, adult education' 'paediatric nurse'
 'scientist, marine' 'commercial horticulturist'
 'outdoor activities/education manager' 'drilling engineer'
 'systems analyst' 'conservation officer, nature' 'counsellor'
 'recycling officer' 'art gallery manager' 'gaffer' 'food technologist'
 'building services engineer' 'seismic interpreter' 'engineer, biomedical'
 'set designer' 'research scientist (life sciences)'
 'accountant, chartered management' 'surveyor, quantity'
 'information systems manager' 'accounting technician'
 'management consultant' 'make' 'retail banker' 'commissioning editor'
 'jewellery designer' 'education officer, museum'
 'estate manager/land agent' 'physiotherapist'
 'passenger transport manager' 'call centre manager'
 'special educational needs teacher' 'museum/gallery exhibitions officer'
 'pension scheme manager' 'archaeologist'
 'historic buildings inspector/conservation officer' 'petroleum engineer'
 'curator' 'neurosurgeon' 'chiropractor' 'biochemist, clinical'
 'scientist, water quality' 'hydrologist' 'hospital pharmacist'
 'warehouse manager' 'physiological scientist'
 'english as a second language teacher' 'financial trader'
 'structural engineer' 'race relations officer' 'psychologist, forensic'
 'newspaper journalist' 'public house manager'
 'careers information officer' 'economist' 'contracting civil engineer'
 'higher education lecturer' 'lecturer, further education'
 'teacher, early years/pre' 'travel agency manager'
 'technical sales engineer' 'charity fundraiser' 'patent attorney'
 'conservator, furniture' 'dance movement psychotherapist'
 'financial planner' 'air broker' 'software engineer' 'barrister'
 'police officer' 'broadcast journalist' 'it sales professional']

SAVING THE CLEANED DATASET

In [36]:
# Save cleaned dataset
df.to_csv("cleaned_people.csv", index=False)
print("Cleaned dataset saved as 'cleaned_people.csv'")

Cleaned dataset saved as 'cleaned_people.csv'

## 3. Organizations Dataset
○ Description: Company records with inconsistent industry categories,
missing employee counts, and website formatting errors.

○ Size: 100–2M records.

In [37]:
# uploaded the required dataset through file section (temporary)

In [38]:
#import necessary libraries
import pandas as pd

(1) DATA INGESTION

In [39]:
# Load data
df = pd.read_csv("organizations-100.csv")

In [40]:
# Basic Details Check
print("Shape:", df.shape)
print("\nBasic Info:")
print(df.info())
print("\nMissing values per column:\n", df.isna().sum())

Shape: (100, 9)

Basic Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Index                100 non-null    int64
 1   Organization Id      100 non-null    object
 2   Name                 100 non-null    object
 3   Website              100 non-null    object
 4   Country              100 non-null    object
 5   Description          100 non-null    object
 6   Founded              100 non-null    int64
 7   Industry             100 non-null    object
 8   Number of employees  100 non-null    int64
dtypes: int64(3), object(6)
memory usage: 7.2+ KB
None

Missing values per column:
 Index                  0
Organization Id        0
Name                   0
Website                0
Country                0
Description            0
Founded                0
Industry               0
Number of employees    0
dtype: int64

(2) DEDUPLICATION

In [41]:
duplicate_count = df.duplicated().sum()
print("Number of duplicate rows:", duplicate_count)

if duplicate_count > 0:
    df = df.drop_duplicates()
    print("Duplicates removed. New shape:", df.shape)
else:
    print("No duplicates found. Proceeding without changes.")

Number of duplicate rows: 0
No duplicates found. Proceeding without changes.

(3) COLUMN MANAGEMENT

In [42]:
# Drop unnecessary column
df = df.drop(columns=['Index'], errors='ignore')

In [43]:
for col in df.columns:
    print(col)

Organization Id
Name
Website
Country
Description
Founded
Industry
Number of employees

In [44]:
# Rename for code-friendliness
df = df.rename(columns={
    'Organization Id': 'org_id',
    'Name': 'name',
    'Website': 'website',
    'Country': 'country',
    'Description': 'description',
    'Founded': 'founded',
    'Industry': 'industry',
    'Number of employees': 'num_employees'
})

In [47]:
print("columns after renaming:")
for col in df.columns:
    print(col)

columns after renaming:
org_id
name
website
country
description
founded
industry
num_employees

(4) MISSING VALUE HANDLING

In [48]:
# Check for missing values
missing_summary = df.isna().sum()
print("Missing values per column:\n", missing_summary)

if missing_summary.sum() == 0:
    print("No missing values. Skipping deletion/imputation.")
else:
    print("Missing values found — investigate further.")

Missing values per column:
 org_id           0
name             0
website          0
country          0
description      0
founded          0
industry         0
num_employees    0
dtype: int64
No missing values. Skipping deletion/imputation.

(5) DATA TYPE CORRECTION

In [49]:
print("Data types of all columns:\n")
print(df.dtypes)

Data types of all columns:

org_id           object
name             object
website          object
country          object
description      object
founded           int64
industry         object
num_employees     int64
dtype: object

In [50]:
# Since the dataset is small the data type is manually checked and proceeded with the next step

(6) FORMAT STANDARDIZATION

In [51]:
# Identify string columns
string_cols = df.select_dtypes(include='object').columns

In [52]:
# Apply lowercase and strip whitespace
for col in string_cols:
    df[col] = df[col].str.lower().str.strip()

In [53]:
# Review values in key categorical columns
for col in ['country', 'industry']:
    print(f"Unique values in '{col}':")
    print(df[col].unique())

Unique values in 'country':
['papua new guinea' 'finland' 'china' 'turkmenistan' 'mauritius' 'bahamas'
 'pakistan' 'heard island and mcdonald islands' 'kuwait' 'uzbekistan'
 'bouvet island (bouvetoya)' 'denmark' 'liberia' 'united arab emirates'
 'sweden' 'honduras' 'uganda' 'hong kong' 'botswana' 'korea' 'luxembourg'
 'guadeloupe' 'monaco' 'belgium' 'south africa' 'romania' 'czech republic'
 'christmas island' 'philippines' 'australia' 'chad' 'zimbabwe' 'nepal'
 'taiwan' 'kyrgyz republic' 'bolivia' 'kenya' 'guatemala' 'belarus'
 'jersey' 'grenada' 'cape verde' 'trinidad and tobago' 'benin'
 'western sahara' 'northern mariana islands' 'germany' 'canada' 'tonga'
 'french southern territories' "cote d'ivoire" 'mayotte' 'cayman islands'
 'nigeria' 'marshall islands' 'palau' 'turkey' 'timor-leste' 'vietnam'
 'reunion' 'brazil' 'eritrea' 'united states virgin islands'
 'falkland islands (malvinas)' 'netherlands antilles' 'guernsey' 'uruguay'
 'suriname' 'mongolia' 'svalbard & jan mayen islands' 'togo' 'latvia'
 'cuba' 'liechtenstein' 'djibouti' 'micronesia' 'cameroon'
 'cocos (keeling) islands' 'mali' 'burundi' 'gibraltar' 'el salvador'
 'ethiopia' 'anguilla']
Unique values in 'industry':
['plastics' 'glass / ceramics / concrete' 'public safety' 'automotive'
 'transportation' 'primary / secondary education' 'publishing industry'
 'import / export' 'outsourcing / offshoring' 'food / beverages'
 'museums / institutions' 'medical practice' 'maritime'
 'facilities services'
 'investment management / hedge fund / private equity'
 'architecture / planning' 'wholesale' 'construction'
 'luxury goods / jewelry' 'pharmaceuticals' 'insurance'
 'real estate / mortgage' 'banking / mortgage' 'legal services'
 'logistics / procurement' 'civil engineering'
 'mechanical or industrial engineering' 'hospitality'
 'venture capital / vc' 'utilities' 'human resources / hr'
 'legislative office' 'music' 'electrical / electronic manufacturing'
 'non - profit / volunteering' 'writing / editing'
 'capital markets / hedge fund / private equity'
 'individual / family services' 'online publishing'
 'civic / social organization' 'arts / crafts' 'consumer goods' 'printing'
 'mental health care' 'management consulting' 'broadcast media' 'farming'
 'entertainment / movie production' 'international trade / development'
 'business supplies / equipment' 'marketing / advertising / sales'
 'textiles' 'consumer electronics' 'building materials'
 'public relations / pr' 'information technology / it' 'military industry'
 'wireless' 'international affairs' 'accounting'
 'computer software / engineering' 'law enforcement' 'financial services'
 'religious institutions' 'alternative dispute resolution'
 'telecommunications' 'semiconductors' 'newspapers / journalism'
 'gambling / casinos' 'photography' 'consumer services'
 'education management']

In [54]:
# Optional minor fix: remove extra spaces around slashes and hyphens
df['industry'] = df['industry'].str.replace(r'\s*/\s*', ' / ', regex=True)
df['industry'] = df['industry'].str.replace(r'\s*-\s*', '-', regex=True)

In [55]:
print(df['industry'].unique())

['plastics' 'glass / ceramics / concrete' 'public safety' 'automotive'
 'transportation' 'primary / secondary education' 'publishing industry'
 'import / export' 'outsourcing / offshoring' 'food / beverages'
 'museums / institutions' 'medical practice' 'maritime'
 'facilities services'
 'investment management / hedge fund / private equity'
 'architecture / planning' 'wholesale' 'construction'
 'luxury goods / jewelry' 'pharmaceuticals' 'insurance'
 'real estate / mortgage' 'banking / mortgage' 'legal services'
 'logistics / procurement' 'civil engineering'
 'mechanical or industrial engineering' 'hospitality'
 'venture capital / vc' 'utilities' 'human resources / hr'
 'legislative office' 'music' 'electrical / electronic manufacturing'
 'non-profit / volunteering' 'writing / editing'
 'capital markets / hedge fund / private equity'
 'individual / family services' 'online publishing'
 'civic / social organization' 'arts / crafts' 'consumer goods' 'printing'
 'mental health care' 'management consulting' 'broadcast media' 'farming'
 'entertainment / movie production' 'international trade / development'
 'business supplies / equipment' 'marketing / advertising / sales'
 'textiles' 'consumer electronics' 'building materials'
 'public relations / pr' 'information technology / it' 'military industry'
 'wireless' 'international affairs' 'accounting'
 'computer software / engineering' 'law enforcement' 'financial services'
 'religious institutions' 'alternative dispute resolution'
 'telecommunications' 'semiconductors' 'newspapers / journalism'
 'gambling / casinos' 'photography' 'consumer services'
 'education management']

SAVING THE CLEANED DATASET

In [56]:
# Save the cleaned dataset
df.to_csv("cleaned_organizations.csv", index=False)
print("Saved as 'cleaned_organizations.csv'")

Saved as 'cleaned_organizations.csv'